#nature{
    width: 600px ;
    height: 500px;
    border: 10px;
    border-radius: 10px;
background-color: black;
    
   
}
#heading{
    text-align: center;
    background-color:darkorange;
    color: aliceblue;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    border: 5px solid darkgreen;
}
.all{
width: 500px;
height: 500px;
border-radius: 10px;


}
.AllParagraphs{
    color: darkblue;
    background-color:yellow;

}

#five{
    color:darkgreen;
    background-color: pink;
}
#list{
    font-size: 1.5rem;
}
